@CHARSET "UTF-8";

.w10{width: 10px}.w20{width: 20px}.w30{width: 30px}.w40{width: 40px}.w50{width: 50px}
.w60{width: 60px}.w70{width: 70px}.w80{width: 80px}.w90{width: 90px}.w100{width: 100px}
.w110{width: 110px}.w120{width: 120px}.w150{width: 150px}.w160{width: 160px}.w170{width: 170px}.w180{width: 180px}.w190{width: 190px}
.w200{width: 200px}.w250{width: 250px}.w260{width: 260px}.w270{width: 270px}.w280{width: 280px}.w290{width: 290px}
.w300{width: 300px}.w350{width: 350px}.w360{width: 360px}.w370{width: 370px}.w380{width: 380px}.w390{width: 390px}
.w400{width: 400px}.w420{width: 420px}.w430{width: 430px}.w440{width: 440px}.w450{width: 450px}.w460{width: 460px}.w470{width: 470px}.w480{width: 480px}
.w500{width: 500px}.w520{width: 520px}.w530{width: 530px}.w550{width: 550px}.w580{width: 580px}
.w600{width: 600px}
.w650{width: 650px}.w700{width: 700px}

body {
	background: url(../images/page/backend/background.jpg) 0 0 no-repeat; 
}

#header, #main-body {
	width: 1024px;
	margin-left:auto;
	margin-right:auto;
}

#header {
	background: url(../images/page/backend/header.jpg) 0 0 ; 
	height: 105px;

}

#main-body {
	width: 1014px;
	background-color: white;
	padding: 5px;
	padding-top: 0px;
}

/* Main Menu */
.main-menu{
	position: absolute;
	width: 978px;
}
.main-menu li{
	float: right;
	list-style-type: none;
}

.main-menu a {
	
	background: url(../images/page/backend/menu-header.png) 0 0 no-repeat;
	width: 131px;

	display: block;
	height: 30px;
	margin: 0 1px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px black ;

}

.main-menu a:hover {
	background-position: 0 -30px;
	color: black;
	text-shadow:none;
}

	/* sub menu */
.sub-menu{
	position: absolute;
	width: 978px;
	display: none;
}
.sub-menu li{
	float: left;
	list-style-type: none;
	padding: 0px;

}

#div-sub-menu{
	position: absolute;
	padding-left: 0px;
}

.sub-menu a {
	width: 90px;
	display: block;
	height: 30px;
	margin: 0;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: red;
}

.sub-menu a:hover {
	color: black;
	background: url(../images/page/backend/subnav.png) 0 0 repeat-x;

}

.thumb {
	width: 100px;
	height: 100px;
}

.form .title{
	background: none;
	color:black;
	float: left;
	margin: 0 15px 0 0;
	padding: 5px 0 0;
	text-align: right;
	width: 145px;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
}

.form .error_note {
	color: red;
	margin-top: 20px;
}

.table{
	width: 100%;
	border: 1px;
	border-style: solid;
}

.table thead th, .table thead td{
	height: 35px;
	border-bottom: solid 1px ;
	border-right: solid 1px ;
	font-size: 12px;
	font-weight: bold;
}
.table tbody td  {
	border-bottom: solid 1px ;
	border-right: solid 1px ;
	padding: 8px 7px;
	height: 25px;
}

.table-list {
	width: 400px;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    cursor: pointer;
    font-size: 0.9em;
    table-layout:fixed

}

.table-list tr , .table-list td {
	border-bottom: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
    padding: 0 0 0 4px;
	word-wrap: break-word;  

}

.table-list tr.hover   {
		
	background-color: #B8B8B8 ;  
}

.table-list tr.selected   {
		
	background-color: #505050  ;  
	color: white;
}

.image-thumbnail {
	width: 170px;
	height: 270px;
    text-align: center;
	border:1px solid #B2B2FF;
	margin:5px;
	float: left;
	position: relative;

}

.image-thumbnail img, #images-popup img {
	max-width: 150px;
	max-height: 185px;
	display: block;
	margin: auto;
}

.image-thumbnail span, #images-popup span {
	color: blue;
	font-weight: bold;
}


#images-popup {
	border:1px solid blue;
	width:510px;
	height:300px;
	background-color: #DCDCDC;
	padding: 10px;
	text-align: center;
}

#images-popup .title {
	position: relative;
	padding: 5px;
	background-color: #505050  ;  
	height: 20px;
}

#images-popup .title label {
	text-align: left;
	color: white;
	font-weight: bold;
}



#images-popup .title img {
	cursor: pointer;
}

.btnShow, .btnShow-suggestion {
	cursor: pointer;
	color: blue;
}

.btnUpload {
	cursor: pointer;
	color: blue;
}


.btn-upload {
	width: 150px;
}


span.material_title {
	font-weight: bold;
	color: blue;
}

a.icon {
	display: inline-block;
	height: 21px;
	line-height: 21px;
	text-indent: 25px;
	text-decoration: none;
	
}

a.icon-add{
	background: url(../images/page/button/icon-add.png) 0 0 no-repeat;
}

.icon-edit{
	background: url(../images/page/button/icon-edit.png) 0 0 no-repeat;
}

a.icon-delete{
	background: url(../images/page/button/icon-delete.png) 0 0 no-repeat;

}

.notice-box
{
	background: #9DE4FE url(../images/page/backend/information.png) 10px 10px no-repeat;
	color: #000;
	margin: 0 0 10px;
	padding: 10px 10px 10px 43px;
	border: solid 1px #00BFFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 1px 1px 2px #ddd;
	-moz-box-shadow: 1px 1px 2px #ddd;
	-webkit-box-shadow: 1px 1px 2px #ddd;
	min-height: 24px;
	height: auto !important;
	height: 24px;
	text-align: left;
}

.wysiwyg-editor{
	width:70%;
	height:auto;
	padding:10px;
	margin:10px auto;
	box-shadow:0 0 20px #aaa;
	-moz-box-shadow: 0 0 20px #aaa;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #bbb;
}

th.pagination div {
	float: left;
	margin-right: 10px; 
}

th.pagination div {
	float: left;
	margin-right: 10px; 
}

th.pagination div a {
	text-decoration: none;
	color: blue;
	
}


table.scroll {
  table-layout: fixed; 
  width: 100%;
}

table.scroll th {
  position:absolute;
  left:934px; 
	height: 25px;
	padding: 8px 7px;
}

table.scroll tbody th {
	border-bottom: solid 1px ;
	border-right: solid 1px ; 

}





.outer {position:relative}
.inner {
  overflow-x:scroll;
  overflow-y:visible;
  width:934px; 
}