@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: Helvetica;
  src: url(../font/HelveticaNeueLTStd-Cn.otf);
}
/*
@font-face {
  font-family: "Helvetica Neue";
  src: url(../font/HelveticaNeueLTStd-Bd.otf);
}
*/

.w10{width: 10px}.w20{width: 20px}.w30{width: 30px}.w40{width: 40px}.w46{width: 46px}.w50{width: 50px}
.w60{width: 60px}.w70{width: 70px}.w80{width: 80px}.w90{width: 90px}.w100{width: 100px}
.w110{width: 110px}.w150{width: 150px}.w160{width: 160px}.w170{width: 170px}.w180{width: 180px}.w190{width: 190px}
.w200{width: 200px}.w250{width: 250px}.w260{width: 260px}.w270{width: 270px}.w280{width: 280px}.w290{width: 290px}
.w300{width: 300px}.w350{width: 350px}.w360{width: 360px}.w370{width: 370px}.w380{width: 380px}.w390{width: 390px}
.w400{width: 400px}.w420{width: 420px}.w430{width: 430px}.w440{width: 440px}.w450{width: 450px}.w460{width: 460px}
.w470{width: 470px}.w480{width: 480px}
.w500{width: 500px}.w520{width: 520px}.w530{width: 530px}.w550{width: 550px}.w580{width: 580px}
.w600{width: 600px}
.w650{width: 650px}.w670{width: 670px}.w700{width: 700px}.w720{width: 720px}.w770{width: 770px}

.h10{height: 10px}.h20{height: 20px}.h30{height: 30px}.h40{height: 40px}.h50{height: 50px}
.h60{height: 60px}.h70{height: 70px}.h80{height: 80px}.h90{height: 90px}.h100{height: 100px}
.h110{height: 110px}.h150{height: 150px}.h160{height: 160px}.h170{height: 170px}.h180{height: 180px}.h190{height: 190px}
.h200{height: 200px}.h230{height: 230px}.h250{height: 250px}.h260{height: 260px}.h270{height: 270px}.h280{height: 280px}.h290{height: 290px}
.h300{height: 300px}.h350{height: 350px}.h360{height: 360px}.h370{height: 370px}.h380{height: 380px}.h390{height: 390px}
.h400{height: 400px}.h420{height: 420px}.h430{height: 430px}.h440{height: 440px}.h450{height: 450px}.h460{height: 460px}
.h470{height: 470px}.h480{height: 480px}
.h500{height: 500px}.h520{height: 520px}.h530{height: 530px}.h550{height: 550px}.h580{height: 580px}
.h600{height: 600px}
.h650{height: 650px}.h700{height: 700px}


body,td,th {
	font-family: "Helvetica";
	font-size: 12px;
	margin: 60px;
	padding: 0px;
	vertical-align: top;
}
body {
	background-image:url(../images/page/Background.jpg);
	margin-top:0px;
}
/*a {
	font-family: "Helvetica Neue";
	font-size: 10px;
}*/

div.frame {
	position: relative;
	overflow: hidden;
	width: 300px;

}




div.main_menu {
	position: relative;
	height: 79px;
	
	float: left;
	cursor: pointer;
	
	background:url(../images/page/header/header-grey.png);
	background-size: 1123px 79px;
	
}

div.main_menu a {
	display: block;
	width: 100%;
	height: 100%;
}

div.main_menu.white {
	background:url(../images/page/header/header-white.png);
}

div.main_menu#logo {
	width: 308px;
	background-position: 0px 0px;

}

div.main_menu#home {
	width: 88px;
	background-position: -308px 0px;
}

div.main_menu#mixmatch {
	width: 120px;
	background-position: -396px 0px;
}

div.main_menu#gallery {
	width: 94px;
	background-position: -516px 0px;
}

div.main_menu#pncOnly {
	width: 95px;
	background-position: -610px 0px;
}

div.main_menu#contactUs {
	width: 115px;
	background-position: -705px 0px;
}

a:link {
	text-decoration: none;
	color:#000;
}

#login, #signUp {
	color: #626364 ;
	font-size: 12px;
	height: 25px;
	vertical-align: middle;
	line-height: 25px;
	font-weight: bold;
	padding-left: 15px;	
}

#login a,#login a:visited,  #signUp a,#signUp a:visited {
	color: #626364 ;
}

#login a:hover,#signUp a:hover {
	color: white ;
}


#memberME, #forgotPasswd {
	color: #626364 ;
	font-size: 12px;
	height: 25px;
	vertical-align: middle;
	line-height: 25px;
	font-weight: normal;
}

#forgotPasswd:hover,#memberME:hover,#login:hover,#signUp:hover {
	color: white ;
}

a:visited {
	text-decoration: none;
}
.white {
	font-family: "Helvetica";
	font-size: 13px;
	color: white;
	text-shadow: 2px 2px gray;
}
.pointer {
	cursor: pointer;
}

#textbacktodisplay {
	font-family: "Helvetica";
	font-size: 24px;
	color: #FFF;
	text-align: center;
}
a:hover {
	text-decoration: none;
	color:red;
}

#newsUpdate {
	font-family: "Helvetica";
	font-size: 18px;
	color: #FFF;
	background-color: #E49182;
	height: 45px;
}
a:active {
	text-decoration: none;
	font-family: "Helvetica";
}
/*#designManage {
	font-family: "Helvetica";
	font-size: 9px;
	color: #FFF;
	background-color: #E49182;
	-ms-transition: all 0s 0s;
	-o-transition: all 0s 0s;
	text-decoration: blink;
	text-indent: 15px;
}*/

/*#onlineStore {
	font-family: "Helvetica";
	font-size: 11px;
	background-color: #E49182;
	height: 30px;
	font-weight: bold;
	color: #FFF;
}*/

.more {
	font-family: "Helvetica";
	height:35px;
	width:100px;
	vertical-align: middle;
	line-height: 35px;
	margin-left: 10px ;
	text-align:left;
	float: left;
	font-size:12px;
	color: red;
}

#pageHeader {
	width: 1123px;
	background:url(../images/page/header/Home-Header-Blank.png);
	background-size: 1123px 79px;
	font-family: "Helvetica";
	font-size: 10px;
}
#date {
	font-family: "Helvetica";
	font-size: 18px;
	color: #FFF;
	background-color: #818181;
}
#pageContent{
	color: #000;
	width: 1123px;
}
#pageFooter {
	width: 1123px;
	/*height: 27.5;*/
	background:url(../images/page/header/Home-Bottom-Blank.png);
	background-size: 1123px 27px;
}

#pageFooter #footerLeft {
	float: left;
	width: 147.5px;
	height: 27.5px;
	background:url(../images/page/header/bottom-left.png);
	background-size: 147.5px 27.5px;	
}

#pageFooter #footerMiddle {
	float: left;
	width: 863.5px;
	height: 27.5px;
	background:url(../images/page/header/Home-Bottom-Blank.png);
	background-size: 1123px 27.5px;
}

#pageFooter #footerRight {
	float: left;
	width: 112px;
	height: 27.5px;
	background:url(../images/page/header/bottom-right.png);
	background-size: 112px 27.5px;	
}

#kontainer {
	font-family: "Helvetica";
	font-size: 14px;
	height: 750px;
	width: 1123px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
	background-color: #979797;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
#total {
	background-color: #A6A6A6;
	height: 60px;
	width: 1123px;
	font-family: "Helvetica";
	font-size: 18px;
	color: #000;
	vertical-align: middle;
	text-align: center;
}
#backdisplay {
	font-family: "Helvetica";
	font-size: 24px;
	color: #FFF;
	background-color: #838383;
	text-align: center;
	height: 60px;
}

#galerydisplay {
	width:330px;
	height:350px;
	margin:0px auto 0px auto;
	background:#99C;
	
}
#title {
	width:110px;
}
#articlecode {
	width:110px;
}
#price {
	width:110px;
}
#code {
	width:110px;
}

.form {
	font-family: "Helvetica";
	font-size: 14px;
}

.form .title{
	background: none;
	color:black;
	float: left;
	margin: 0 15px 0 0;
	padding: 5px 0 0;
	text-align: right;
	width: 145px;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
}

#no-collection-msg {
	height: 538.5px;
	text-align: center;
	vertical-align: middle;
	line-height: 538.5px;
	color: #A6A6A6;
	font-weight: bold;

}

#form_contact {}

#form_contact div {
	display: block;
	margin-bottom: 10px;
}


#form_contact label {
	vertical-align: top;
	width: 100px;
	display: inline-block;
	font-style: italic;
}
#form_contact label.error {
	width:100%;
	padding-left:100px;
	color: red;
}
#form_contact input,#form_contact textarea {
	width: 250px;
}



#map {
	border: 0px;
	width: 100%;
	height: 150px;
}

#submit-comment {
	background-color: #A6A6A6;
	display: inline-block;
	color: white;
	margin-left: 102px;
	width: 204px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	border: 1px solid #DFDFDC;
	cursor: pointer;
}

.contactUs-message {
	background-color: #F8F8F4;
	border: 1px solid #DFDFDC; 
	font-weight: bold;
	width: 378px; 
	height: 30px;
	margin-bottom:10px;
	vertical-align: middle;
	line-height: 30px;
	text-align: left;
	padding-left: 10px

}