@charset "UTF-8";
/* CSS Document */

.clear {
	clear: both;
}


div.item-container {
	width: 401px;
	height: 644.75px;
	float: left;
	display: block;
}

div.gallery-main {
	position: relative;
	float: left;
	height: 635px;
	width: 722px;
}

div.gallery-header {
	position: relative;
	float: right;
	height: 26.5px;
	width: 100%;
	background-color: white;
	/*background-image:url(../images/page/background/Gallery-Category-Button-White.png);
	background-size: 100%; */
}

div.gallery-footer {
	position: relative;
	float: bottom;
	height: 26.5px;
	width: 100%;
	background-image:url(../images/page/background/Gallery-Bottom-Banner-Blank.png);
	background-size: 100%; 
}



div.gallery-footer div {
	float: left;
	height: 100%;
}



div.thumbnail-container {
	width: 541.5px;
	height: 635px;
	position: relative;
	float: left;
	background-color: white;
	padding-top: 10px;
	/*background-image:url(../images/page/background/Gallery-Grid-Small.png);
	background-size: 100%;*/
}

div.gallery-banner {
	width: 180.5px;
	height: 644.75px;
	position: relative;
	float: left;
	background-image:url(../images/page/background/Gallery-Banner-Item-List.png);
	background-size: 100%;
}


div.display-item {
	height: 520px;
	width: 400px;

	position: relative;
	float: top;
	/*background-image:url(../images/page/background/background-2.png);
	background-size: 401px 548px ;*/
	background-color: white;
}

div.display-item img {
	width: 400px;
	height: 508px;

	max-width: 400px;
	max-height: 508px;
}

div.detail-box {
	height: 78px;
	position: relative;
	float: bottom;
	background-image:url(../images/page/background/Gallery-Product-Info.png);
	background-size: 100%;
	color: white;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;

	/*font-family: "Arial";*/
	font-size: 12px;
	font-weight: bold;
}

div.detail-item {
	width: 270px;
	float: left;
}

div#product-detail {
	width: 100px;
	height: 78px;
	float: right;
	vertical-align: middle;
	line-height: 78px;
	cursor: pointer;
}

div.cart-container {
	height: 45px;
	position: relative;
	float: bottom;
	background-image:url(../images/page/background/Gallery-Banner-Shopping-Cart-Blank.png);
	background-size: 100%;
}

div.cart-container div {
	/*width: 133px;*/
	height: 45px;
	float: left;
}

#addToCart {
	width: 153.5px;
	height: 45px;
	background-image:url('../images/page/background/Gallery-Banner-Shopping-Cart-ATSC-Button-White.png');
	background-size: 100%;
	cursor: pointer;
}

#addToCart.selected {
	width: 153.5px;
	height: 45px;
	background-image:url('../images/page/background/Gallery-Banner-Shopping Cart-ATSC Button-White-Ticked.png');
	background-size: 100%;
	cursor: default;
}

#addToWishList {
	width: 115.25px;
	height: 45px;
	background-image:url('../images/page/background/Gallery-Banner-Shopping-Cart-ATML-Button-White.png');
	background-size: 100%;
}

#showCart {
	width: 131.5px;
	height: 45px;
	background-image:url(../images/page/background/Gallery-Banner-Shopping-Cart-SSC-Button-White.png);
	background-size: 100%;
	cursor: pointer;
}

div.cart-container img {
	width: 133px;
	height: 45px;
	max-width: 133px;
	max-height: 45px;
	
}

div.tabCategory {
	position: relative;
	width: 240px;
	height: 26.5px;

	float: right;
	cursor: pointer;
	
	background:url(../images/page/background/Gallery-Category-Button-Grey.png);
	background-size: 722px 240px;
	
}

div.tabCategory.selected, div.tabCategory:hover {
	background:url(../images/page/background/Gallery-Category-Button-White.png);
	background-size: 722px 240px;
	
}

#header_1 {
	background-position: 0px 0px;
}

#header_2 {
	background-position: -240px 0px;
}

#header_3 {
	background-position: -480px 0px;
}

div.thumbnail {
	width: 98px;
	height: 150px;
	float: left;
	margin: 5px 0px 2px 7px;
	

}


div.thumbnail img {

	max-width: 98px;
	max-height: 120px;
	cursor: pointer;
}

div.thumbnail img.selected {
	border:0.1px solid red;
}

div.thumbnail div {
	height: 12px;
	text-align: left;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-size: 11px;
	color: #626364 ;
	padding-left: 2px;
}



#change-front {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Front-White.png');
	background-size: 100%; 
	cursor: pointer;
}

#change-front:hover, #change-front.selected  {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Front-Grey.png');
	background-size: 100%; 
}

#change-rear {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Back-White.png');
	background-size: 100%; 
	cursor: pointer;
}

#change-rear:hover, #change-rear.selected {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Back-Grey.png');
	background-size: 100%; 
}

#page-prev {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Previous-Black.png');
	background-size: 100%; 
	cursor: pointer;
}

#page-prev:hover, #page-prev.disabled {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Previous-Grey.png');
	background-size: 100%; 
}

#page-next {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Next-Black.png');
	background-size: 100%; 
	cursor: pointer;
}

#page-next:hover,#page-next.disabled {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Next-Grey.png');
	background-size: 100%; 
}

#page-info {
	width: 360px;
	text-align: center;
	/*font-family: "Arial";*/
	font-size: 14px;
	font-weight: bold;
	color: #626364 ;
	vertical-align: middle;
	line-height: 26.5px;
}