@charset "UTF-8";

#header-content {
	height: 40px;
	width: 1083px;
	padding-left: 10px;
	padding-right: 30px;
	background-color: rgb(130,130,130);
	color: white;
	text-align: left;
	font-size: 24px;
	vertical-align: middle;
	line-height: 40px;

}

#header-content span {
	float: right;
	font-size: 14px;
}

#box-content {
	width: 1123px;
	background-color: white;
	display:block;
}

#box-main {
	display: block;
	width: 582px;
	height: 472px;
	float: left;
}

#box-header {
	display: block;
	float: left;
	width: 421px;
	height: 452px;
	padding: 10px 60px 10px 40px;

}

#header-module {
	display: inline-block;
	height: 107px;
	text-align: center;
	vertical-align: bottom;
	line-height: 147px;
	position: relative;
	font-size: 52px;
	color: rgb(238,147,131);
	text-shadow: 2px 2px gray;
	font-weight: lighter;
}

#sub-header-module {
	display: block;
	height: 42px;
	text-align: right;
	font-size: 24px;
	color: #A6A6A6;
}

#content-module {
	display: block;
	height: 323px;	
	overflow: auto;
	text-align: left;
	color: #A6A6A6;
	text-align: justify;
	padding-right: 5px;
}

#box-detail {
	display: block;
	width: 1123px;
	height: 126px;
	clear: both;
	background-color: rgb(133,133,133);	
}

.detail-image {
	display: inline-block;
	float: left;
	max-width: 126px;
	min-width: 126px;
	background-color: rgb(185,185,185);
}

.detail-description {
	display: inline-block;
	float: left;
	max-width: 115px;
	min-width: 115px;
	max-height: 114px;
	min-height: 114px;
	background-color: rgb(185,185,185);
	padding: 8px 4px 4px 4px;
}

.detail-description span {
	width: 100%;
	display: block;
	color: white;
}

.detail-description span.title {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 4px;
}

.detail-description span.desc {
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}