@charset "UTF-8";
/* CSS Document */

.clear {
	clear: both;
}


div.item-container {
	width: 401px;
	height: 644.75px;
	float: left;
	display: block;
}

div.gallery-main {
	position: relative;
	float: left;
	height: 645px;
	width: 702px;
	overflow: hidden;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

div.detail-header {
	position: relative;
	float: right;
	height: 26.5px;
	width: 722px;
	background-color: white;
	overflow: hidden;
	/*background-image:url(../images/page/background/Gallery-Category-Button-White.png);
	background-size: 100%; */
}

div.gallery-footer {
	position: relative;
	float: bottom;
	height: 26.5px;
	width: 100%;
	background-image:url(../images/page/background/Gallery-Bottom-Banner-reff.png);
	background-size: 100%; 
}



div.gallery-footer div {
	float: left;
	height: 100%;
}


div.top-container {
	width: 662px;
	height: 230px;
	position: relative;
	float: top;
	padding: 10px 20px 5px 20px;
	background-color: #F8F8F4;
	overflow: hidden;
	white-space: nowrap;

}

div.thumbnail-container, div.thumbnail-nav {
	width: 650px;
	height: 200px;
	position: relative;
	float: left;
	background-color: #F8F8F4;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}

div.thumbnail-nav { 
	height: 300px;

}

#thumbnail-prev, #thumbnail-next {
	position: absolute;
	cursor: pointer;
	font-size: 12px;
	font-weight:bold;
	color: #626364;
}
#thumbnail-prev {
	left: 50px;
}

#thumbnail-next {
	left: 525px;
}

div.display-item {
	height: 538.5px;
	width: 400px;

	position: relative;
	float: top;
	background-color: #F2F2F2;
}

div.display-item img {
	width: 400px;
	height: 538.5px;

	max-width: 400px;
	max-height: 538.5px;
}

div.detail-box {
	height: 78px;
	position: relative;
	float: bottom;
	background-image:url(../images/page/background/Gallery-Product-Info.png);
	background-size: 100%;
	color: white;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;

	/*font-family: "Arial";*/
	font-size: 12px;
	font-weight: bold;
}

div.detail-item {
	width: 270px;
	float: left;
}

div#product-detail {
	width: 100px;
	height: 78px;
	float: right;
	vertical-align: middle;
	line-height: 78px;
	cursor: pointer;
}

div#product-detail a, div#product-detail a:hover,div#product-detail a:visited {
	color: white;
}



div.cart-container {
	height: 45px;
	position: relative;
	float: bottom;
	background-image:url(../images/page/background/Gallery-Banner-Shopping-Cart-Blank.png);
	background-size: 100%;
}

div.cart-container div {
	/*width: 133px;*/
	height: 45px;
	float: left;
}

#addToCart {
	width: 153.5px;
	height: 45px;
	background-image:url('../images/page/background/Gallery-Banner-Shopping-Cart-ATSC-Button-White.png');
	background-size: 100%;
	cursor: pointer;
}

#addToCart.selected {
	width: 153.5px;
	height: 45px;
	background-image:url('../images/page/background/Gallery-Banner-Shopping Cart-ATSC Button-White-Ticked.png');
	background-size: 100%;
	cursor: default;
}

#addToWishList {
	width: 115.25px;
	height: 45px;
	background-image:url('../images/page/background/Gallery-Banner-Shopping-Cart-ATML-Button-White.png');
	background-size: 100%;
}

#showCart {
	width: 131.5px;
	height: 45px;
	background-image:url(../images/page/background/Gallery-Banner-Shopping-Cart-SSC-Button-White.png);
	background-size: 100%;
	cursor: pointer;
}

div.cart-container img {
	width: 133px;
	height: 45px;
	max-width: 133px;
	max-height: 45px;
	
}

div.tabMenu {
	position: relative;
	width: 240px;
	height: 26px;

	font-size: 12px;
	font-weight: normal;
	color:white;

	vertical-align: middle;
	line-height: 26px;

	float: right;
	cursor: pointer;
	
	background:url(../images/page/header/Home-Header-Blank.png);
	background-size: 722px 26.5px;
	background-position: -350px 0px;
	
}

div.tabMenu.selected, div.tabMenu:hover {
	background: white;
	color:#626364;
	font-weight: bold;
	
}

#category_1 {
	background-position: 0px 0px;
}

#category_2 {
	background-position: -90.25px 0px;
}

#category_3 {
	background-position: -180.5px 0px;
}

#category_4 {
	background-position: -270.75px 0px;
}

#category_5 {
	background-position: -361px 0px;
}

#category_6 {
	background-position: -451.25px 0px;
}

#category_7 {
	background-position: -541.5px 0px;
}

#category_8 {
	background-position: -631.75px 0px;
}

div.thumbnail {
	width: 97px;
	height: 150px;
	margin: 5px 5px 2px 5px;
	display: inline-block;
}

div.thumbnail .image {
	background-color: white;
	height: 120px;
	padding: 0 0 0 0;
	text-align:center;

}



div.thumbnail .image img {

	max-width: 97px;
	max-height: 120px;
	cursor: pointer;
}

div.thumbnail .image img.selected {
	border: 1px solid red;
}


div.thumbnail div {
	height: 12px;
	text-align: left;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-size: 11px;
	color: #626364 ;
	padding-left: 2px;
}



#change-front {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Front-White.png');
	background-size: 100%; 
	cursor: pointer;
}

#change-front:hover, #change-front.selected  {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Front-Grey.png');
	background-size: 100%; 
}

#change-rear {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Back-White.png');
	background-size: 100%; 
	cursor: pointer;
}

#change-rear:hover, #change-rear.selected {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Back-Grey.png');
	background-size: 100%; 
}

#page-prev {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Previous-Black.png');
	background-size: 100%; 
	cursor: pointer;
}

#page-prev:hover, #page-prev.disabled {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Previous-Grey.png');
	background-size: 100%; 
}

#page-next {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Next-Black.png');
	background-size: 100%; 
	cursor: pointer;
}

#page-next:hover,#page-next.disabled {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Next-Grey.png');
	background-size: 100%; 
}

#page-info {
	width: 360px;
	text-align: center;
	/*font-family: "Arial";*/
	font-size: 14px;
	font-weight: bold;
	color: #626364 ;
	vertical-align: middle;
	line-height: 26.5px;
}

.detail-title {
	width:702px;
	height:30px;
	text-align:left;
	background-color:white;
	vertical-align:bottom;
	line-height:30px;
	font-size: 12px;
	font-weight:bold;
	color:#626364;
	float: top;
}

.detail-value {
	width:702px;
	height:100px;
	text-align:left;
	background-color:white;
	vertical-align:top;
	font-size: 12px;
	color:#626364;
	float: top;	
}

#detail-size {
	height: 40px;
}

div.pagination {
	display: inline-block; 
	margin-left: 2px;
	margin-right: 2px;
	font-size: 10px;
	font-weight: bold;
	color: gray;
}

div.pagination.active {
	cursor: pointer;
	color: black;
}

div.pagination.selected {
	color:red;
	cursor: default;
}

div.rating_star {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

div.rating_star.noclick {
	cursor: default;
}
div.rating_star.filled {
	background:url(../images/rate_filled.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

div.rating_star.empty {
	background:url(../images/rate_empty.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

#box-post-header {
	background-color: #F8F8F4;
	border: 1px solid #DFDFDC; 
	font-weight: bold;
	width: 702px; 
	height: 30px;
	margin-top:10px;
	vertical-align: middle;
	line-height: 30px;
}


#post-review-button{
	float: left;
	width: 100px;
	border: 1px solid #C6C6C3;
	height:20px;
	margin: 5px 0 5px 20px;
	vertical-align: middle;
	line-height: 20px;
}

#post-review-button.active {
	background-color: #A6A6A6;
	cursor: pointer
}


#box-review {
	height: 600px;
	margin-bottom: 10px;
	text-align:left;
	background-color: #F8F8F4;border: 1px solid #DFDFDC;
	color: #626364;
	font-weight: bold;
	font-style: italic;
	padding: 5px 5px 5px 10px;
}
#submit-review {
	background-color: #A6A6A6;
	display: inline-block;
	color: white;
	width: 100%;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	border: 1px solid #DFDFDC;
	cursor: pointer;
}

#call-review {
	color: red;
	cursor: pointer;
}

.review-message {
	background-color: #F8F8F4;
	border: 1px solid #DFDFDC; 
	font-weight: bold;
	width: 690px; 
	height: 30px;
	margin-top:10px;
	margin-bottom:10px;
	vertical-align: middle;
	line-height: 30px;
	text-align: left;
	padding-left: 10px

}