@charset "UTF-8";

#header-content {
	height: 40px;
	width: 1083px;
	padding-left: 10px;
	padding-right: 30px;
	background-color: rgb(130,130,130);
	color: white;
	text-align: left;
	font-size: 24px;
	vertical-align: middle;
	line-height: 40px;

}

#header-content span {
	float: right;
	font-size: 14px;
}

#box-content {
	width: 1123px;
	background-color: white;
	display:block;
}

#box-main {
	display: block;
	float: left;
	padding: 5px 10px 5px 5px;
	
}

#box-main img {
	max-height: 497px;
	max-width: 392px;
}

#box-image-module {
	display: block;
	width: 174px;
	height: 497px;
	float: left;
	height: 497px;
}

#box-image-module img {
	max-height: 243px;
	max-width: 164px;
	display: block;
	float: left;
	margin: 5px 5px 5px 10px;

}

#background-header {
	display: table-cell;
	float: left;
	background-color: rgb(204,204,204);
	width: 495px;
	margin: 5px 5px 5px 40px ;
	height: 386px;
	vertical-align: middle;
	padding-top: 111px;
}

#box-header {
	display: inline-block;
	float: left;
	height: 285px;
	width: 495px;
	
}

#header-module {
	min-height: 150px;
	max-height: 150px;
	min-width: 495px;
	max-width: 495px;

}

#sub-header-module {
	height: 33px;
	color: white;
	width: 455px;
	padding-right: 35px;
	font-size: 24px;
}

#content-module {
	display: block;
	height: 102px;	
	overflow: auto;
	color: rgb(130,130,130);
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	font-weight: bold;


}

#content-module div {
	padding-right: 25px;

}



.right-align {
	display: block;
	width: 100%;
	text-align:right;
}

.center-align {
	display: block;
	width: 100%;
	text-align:center;
}