@charset "UTF-8";

#header-content {
	height: 40px;
	width: 1083px;
	padding-left: 10px;
	padding-right: 30px;
	background-color: rgb(130,130,130);
	color: white;
	text-align: left;
	font-size: 24px;
	vertical-align: middle;
	line-height: 40px;

}

#header-content span {
	float: right;
	font-size: 14px;
}

#box-content {
	width: 1123px;
	height: 600px;
	background-color: white;
	display:block;
}



#box-detail {
	display: block;
	float: left;
	width: 288px;
	height: 598px;
	clear: both;
	background-color: rgb(133,133,133);	
}

.detail-image {
	display: block;
	float: left;
	min-width: 96px;
	min-height: 119px;

	max-width: 96px;
	max-height: 119px;
}

.detail-description {
	display: block;
	float: left;
	min-width: 88px;
	min-height: 107px;

	max-width: 88px;
	max-height: 107px;
	background-color: rgb(185,185,185);
	padding: 8px 4px 4px 4px;
	color: white;
	font-size: 10px;
	text-align: left;

}



#box-main {
	display: block;
	width: 835px;
	height: 600px;
	float: left;
	position: relative;
}


#box-header {
	width: 400px;
	position: absolute;
	left: 0px;
	top: 132px;
	height: 345px;
}

 #header-module, #sub-header-module, #content-module {
	width: 340px;
 	padding-left: 40px;
 	padding-right:20px;
	color: #A6A6A6;

 }

#header-module {
	height: 155px;
	font-size: 	120px;
	vertical-align: bottom;
	line-height: 230px;
	color: rgb(238,147,131);

}

#sub-header-module {
	height: 35px;
	font-size: 	24px;
}

#content-module {
	height: 155px;
	text-align: justify;
	font-weight: bold;
	font-size: 12px;
}

.right-align {
	display: block;
	width: 100%;
	text-align:right;
}

.center-align {
	display: block;
	width: 100%;
	text-align:center;
}

.large {
	font-size: 36px;
	vertical-align: middle;
	line-height: 107px;
}

.desc-title {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}




