@charset "UTF-8";
/* CSS Document */

.clear {
	clear: both;
}


div.item-container {
	width: 401px;
	height: 644.75px;
	float: left;
	display: block;
}

div.gallery-main {
	position: relative;
	float: left;
	height: 635px;
	width: 722px;
}

div.gallery-header {
	position: relative;
	float: left;
	height: 26.5px;
	width: 722px;
	background-color: #F2F2F2;
	/*background-image:url(../images/page/background/Gallery-Category-Button-White.png);
	background-size: 100%; */
}

div.gallery-footer {
	position: relative;
	float: bottom;
	height: 26.5px;
	width: 100%;
	background-image:url(../images/page/background/Gallery-Bottom-Banner-reff.png);
	background-size: 100%; 
}



div.gallery-footer div {
	float: left;
	height: 100%;
}



div.thumbnail-container {
	width: 541.5px;
	height: 635px;
	position: relative;
	float: left;
	background-color: white;
	/*background-image:url(../images/page/background/Gallery-Grid-Small.png);
	background-size: 100%;*/
}

div.gallery-banner {
	width: 180.5px;
	height: 644.75px;
	position: relative;
	float: left;
	background-image:url(../images/page/background/Gallery-Banner-Item-List.png);
	background-size: 100%;
}

div.sub-category {
	width: 100%;
	height: 74.375px;
	text-align:left;
	padding-left: 10px;
	margin-top: 5px;
	font-size: 12px;
	font-weight: normal;
	color: #626364;
	cursor: pointer;
}

div.sub-category.selected {
	font-weight: bold;
}

div.sub-category div.category_item {
	padding-left: 10px;
}


div.display-item {
	height: 538.5px;
	width: 400px;
	text-align: left;
	position: relative;
	float: top;
	background-color: #F2F2F2;
	background-size: 100%;
}

div.display-item #cart-banner {
	width: 120px;
	height: 120px;
	display: none;

}

div.display-item.in-Cart #cart-banner {
	display: block;
}

div.display-item #new-banner {
	width: 213px;
	height: 213px;
	display: none;
	float:right;
	margin-top: 325.5px
}

div.display-item.is-New #new-banner {
	display: block;
}

div.display-item.in-Cart #new-banner {
	margin-top: 205.5px
}


div.detail-box {
	height: 78px;
	position: relative;
	float: bottom;
	background-image:url(../images/page/background/Gallery-Product-Info.png);
	background-size: 100%;
	color: white;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;

	/*font-family: "Arial";*/
	font-size: 12px;
	font-weight: bold;
}

div.detail-item {
	width: 370px;
	float: left;
}

div#product-detail {
	width: 100px;
	height: 78px;
	float: right;
	vertical-align: middle;
	line-height: 78px;
	cursor: pointer;
}

div.cart-container {
	height: 45px;
	position: relative;
	float: bottom;
	background-image:url(../images/page/background/Gallery-Banner-Shopping-Cart-Blank.png);
	background-size: 100%;
}

div.cart-container div {
	/*width: 133px;*/
	height: 45px;
	float: left;
}

#addToCart {
	width: 153.5px;
	height: 45px;
	background-image:url('../images/page/background/Gallery-Banner-Shopping-Cart-ATSC-Button-White.png');
	background-size: 100%;
	cursor: pointer;
}

#addToCart.selected {
	width: 153.5px;
	height: 45px;
	background-image:url('../images/page/background/Gallery-Banner-Shopping Cart-ATSC Button-White-Ticked.png');
	background-size: 100%;
	cursor: default;
}

#addToWishList {
	width: 115.25px;
	height: 45px;
	background-image:url('../images/page/background/Gallery-Banner-Shopping-Cart-ATML-Button-White.png');
	background-size: 100%;
}

#showCart {
	width: 131.5px;
	height: 45px;
	background-image:url(../images/page/background/Gallery-Banner-Shopping-Cart-SSC-Button-White.png);
	background-size: 100%;
	cursor: pointer;
}

div.cart-container img {
	width: 133px;
	height: 45px;
	max-width: 133px;
	max-height: 45px;
	
}

div.tabCategory {
	position: relative;
	width: 90.25px;
	height: 26.5px;

	float: right;
	cursor: pointer;
	
	background:url(../images/page/background/Gallery-Category-Button-Grey.png);
	background-size: 722px 26.5px;
	
}

div.tabCategory.selected, div.tabCategory:hover {
	background:url(../images/page/background/Gallery-Category-Button-White.png);
	background-size: 722px 26.5px;
	
}

#category_1 {
	background-position: 0px 0px;
}

#category_2 {
	background-position: -90.25px 0px;
}

#category_3 {
	background-position: -180.5px 0px;
}

#category_4 {
	background-position: -270.75px 0px;
}

#category_5 {
	background-position: -361px 0px;
}

#category_6 {
	background-position: -451.25px 0px;
}

#category_7 {
	background-position: -541.5px 0px;
}

#category_8 {
	background-position: -631.75px 0px;
}

div.thumbnail {
	width: 98px;
	height: 150px;
	float: left;
	margin: 5px 0px 2px 7px;
	

}


div.thumbnail .info {
	height: 12px;
	text-align: left;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-size: 11px;
	color: #626364 ;
	padding-left: 2px;
}

div.thumbnail_img {
	background-color: #F2F2F2;
	height:120px; 
	width: 98px; 
	background-size: 100%;
	cursor: pointer;
	text-align: left;
}

div.thumbnail_img.selected {
	border: 1px solid red;
}


div.thumbnail_img img {
	/*max-width: 98px;
	max-height: 120px;*/
	left: 0px;
	top: 0px;
	display: none;
}


div.thumbnail_img.in-Cart img {
	display: block;
}




#change-front {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Front-White.png');
	background-size: 100%; 
	cursor: pointer;
}

#change-front:hover, #change-front.selected  {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Front-Grey.png');
	background-size: 100%; 
}

#change-rear {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Back-White.png');
	background-size: 100%; 
	cursor: pointer;
}

#change-rear:hover, #change-rear.selected {
	width: 46px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Change View-Back-Grey.png');
	background-size: 100%; 
}

#page-prev {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Previous-Black.png');
	background-size: 100%; 
	cursor: pointer;
}

#page-prev:hover, #page-prev.disabled {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Previous-Grey.png');
	background-size: 100%; 
}

#page-next {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Next-Black.png');
	background-size: 100%; 
	cursor: pointer;
}

#page-next:hover,#page-next.disabled {
	width: 75.25px;
	height: 26.5px;
	background-image:url('../images/page/background/Gallery-Bottom Banner-Next-Grey.png');
	background-size: 100%; 
}

#page-info {
	width: 360px;
	text-align: center;
	/*font-family: "Arial";*/
	font-size: 14px;
	font-weight: bold;
	color: #626364 ;
	vertical-align: middle;
	line-height: 26.5px;
}