


.cart-header, .cart-header td {
	background-color: #9E9FA0;	
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	height: 25px;
    vertical-align: middle;
}

.cart-footer, .cart-footer td {
	background-color: white;	
	font-size: 12px;
	font-weight: bold;
	color: #767778;
	text-align: center;
	height: 30px;
    vertical-align: top;
    border-color: black;
    border-style: solid;
    border-width: 0.1px 0px 0px 0px;
}

.cart-footer.bottom td {
    border-width: 0px 0px 0px 0px;
}

.cart-bottom td {
	background-color: #767778 ;	
	font-size: 12px;
	text-align: left;
	height: 30px;
    vertical-align: top;
    line-height: 30px;
}

.cart-item, .cart-item td {
	border-color: #DCDCDD;
    border-style: solid;
    border-width: 0.1px 0.1px 0px 0px;
    font-size: 12px;
    font-weight: bold;
    padding-left:5px;
    color: #B9BABB;
    background-color: white;
}

.cart-item img {
	max-width: 98px;
	max-height: 120px;
	display: block;
	min-width: 98px;
	min-height: 120px;
}

.undoCart-box {
	
	width: 100%;
	font-weight: 900;
	font-size: 0.6em;

	color: #767778;
	height: 20px;
	vertical-align: middle;
	line-height: 20px;
	cursor: pointer;

}


.undoCart{
	float: left;
	
	width: 16px;
	height: 16px;
	background-image:url('../images/page/background/white-box.png');
	background-size: 100%;
}

.undoCart.selected {
	float: left;
	
	width: 16px;
	height: 16px;
	background-image:url('../images/page/background/white-box-ticked.png');
	background-size: 100%;
}

.shopping-button {
	height: 28px;
	background:url(../images/page/background/shopping-buton.png);
	background-size: 107px 56px;
	background-repeat: no-repeat;
}

#continue-shopping {
	background-position: 0px 0px;
}

#finish-shopping {
	background-position: 0 -28px;
}

.item_up, .item_down {
	width: 26px;
	height: 26px;
	background:url(../images/page/button/up-down.png);
	background-size: 52px 26px;
	background-repeat: no-repeat;
	display: none;
	cursor: pointer;
}

.item_up {
	background-position: -26px 0px;
}

.item_down {
	background-position: 0px 0px;
}

#continue-shopping, #finish-shopping {
	cursor: pointer;
}

#show-detail { 
	margin-left: 10px;
}

#show-gallery a, #show-detail a {
	color: white;
	cursor: pointer;
	text-decoration: none;
		
}

.form .error_note {
	color: red;
	margin-top: 20px;
	font-weight: normal;
}


